img {
    width: 128px;
    height: 128px;
}

body {
    font-family: Arial;
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/* @keyframes color-change {
        0% {
            background-color: aliceblue;
        }
        50% {
            background-color: blue;
        }
        100% {
            background-color: yellow;
        }


}*/

.h_contenedor {
    display: flex;
    background-color: rgb(176, 223, 204);
}

header a {
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 30px;
}

a:hover {
    background-color: purple;
}

.contenedornav {
    background-color: blueviolet;
}

.nav-link {
    color: aliceblue;
}

.mover {
    margin-left: 67%;
    display: flex;
}